<!-- extends -->
{% extends "global.html" %}
<!-- title -->
{% block title %} Journey {% endblock %}
<!-- content -->
{% block content %}
<div class="home-frame">
  <div class="home-page">
    <div class="home-header"></div>
    <div class="home-travels">
      {% for travel in travels %}
      <div class="travel-main">
        <div
          class="travel-box"
          style="background-image: url('{{ travel.travelImg }}'); 
        position: relative;
        background-repeat: no-repeat; 
        background-size: cover;   
        width: 284px;
        height: 475px; 
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;"
        >
          <span class="address">{{travel.travelAddress}}</span>
        </div>
        <button class="view-details">View Details</button>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
