<!-- extends -->
{% extends "global.html" %}
<!-- title -->
{% block title %} Details about {{ travel.travelTitle }} {% endblock %}

<!-- content -->
{% block content %}
<div class="detail-frame">
  <div class="detail-home">
    <div class="detail">
      <div class="context">
        <strong>{{travel.travelTitle}}</strong>
        <span>{{travel.travelDesc}}</span>
        <button><a href="/travel">Back More</a></button>
      </div>
      <img src="{{travel.travelImg}}" alt="" />
    </div>
  </div>
</div>

{% endblock %}
