<!-- extends -->
{% extends "global.html" %}
<!-- title -->
{% block title %} Travel List {% endblock %}

<!-- content -->
{% block content %}
<div class="travel-frame">
  <div class="travel-home">
    <div class="list-travels">
      {% for travel in travels %}
      <a href="details/{{ travel.id }}">
        <div class="travel-main">
          <div
            class="travel-box"
            style="background-image: url('{{ travel.travelImg }}'); 
              position: relative;
              background-repeat: no-repeat; 
              background-size: cover;   
              width: 330px;
              height: 475px; 
              border-radius: 10px;
              display: flex;
              flex-direction: row;
              align-items: center;"
          >
            <span class="address">{{travel.travelAddress}}</span>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
